<aside class="admin-sidebar">
  <div class="sidebar-branding">
    <h1>LLDBeauty</h1>
  </div>

  <nav class="sidebar-nav">
    <a
      routerLink="/admin/calendar"
      class="sidebar-link"
      [class.active]="active() === 'calendar'"
    >
      <span class="material-symbols-outlined">calendar_today</span>
      <span>Calendrier</span>
    </a>

    <a
      routerLink="/admin/slots"
      class="sidebar-link"
      [class.active]="active() === 'slots'"
    >
      <span class="material-symbols-outlined">more_time</span>
      <span>Ajout de créneaux</span>
    </a>
  </nav>

  <div class="sidebar-profile">
    <img
      [src]="adminProfileImage"
      alt="Lucie Deroff"
    />

    <div>
      <p class="profile-name">Lucie Deroff</p>
      <p class="profile-role">Administratrice</p>
    </div>
  </div>
</aside>
